<html>
  <head>
    <title>Ecommerce App Reset Password</title>
    <link rel="stylesheet" href="login/styles.css" />
  </head>
  <body>
    <div>
      <h1>Reset Password Page</h1>

      <div>
        <h4>The Password has to be:</h4>
        <li>Minimum 8 characters long</li>
        <li>One Uppercase letter at least</li>
        <li>One lowercase letter at least</li>
        <li>One Number</li>
      </div>

      <form method="POST" action="/resetPassword">
        <p>For email: <%= username %></p>
        <input
          autofocus
          required
          id="pass"
          type="password"
          name="password"
          placeholder="New Password: "
        />
        <input
          autofocus
          required
          id="confirm-pass"
          type="password"
          name="rePassword"
          placeholder="Confirm Password: "
        />

        <div>
          <sub id="success" class="success"></sub>
        </div>
        <div>
          <sub id="error" class="error"> <%= error %> </sub>
        </div>

        <input id="submit" type="submit" value="Reset Password" />
      </form>
    </div>
    <script src="resetPass/script.js"></script>
  </body>
</html>
