body {
  margin: 0;
  padding: 0;
}

.profile-pic {
  height: 40px;
  width: 40px;
}

.profile-pic:hover {
  height: 150px;
  width: 150px;
  position: absolute;
  right: 20px;
  top: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(11, 218, 255);
  padding-left: 1%;
  padding-right: 1%;
}

.header > div {
  display: flex;
  align-items: center;
}

.header > div > form {
  height: 0;
}

.header > div > img {
  margin: 3px;
}

h2 {
  text-align: center;
}

.cont {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.item-card {
  border: 1px dotted blue;
  border-radius: 10px;
  width: 20%;
  margin: 20px;
  padding: 20px;
}

/* .item-card:hover {
  background-color: rgb(243, 243, 243);
} */

.loadMore {
  display: flex;
  justify-content: center;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup > div {
  /* height: 30%; */
  width: 30%;
  background-color: rgb(146, 255, 250);
  border-radius: 10px;
}

.hidden {
  display: none;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

#popup-btn {
  float: right;
  background-color: transparent;
  border: 0;
  padding: 5px;
}

#popup-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
  /* border-radius: 10px; */
}

.view-details {
  border: 0;
  background-color: transparent;
}

.view-details:hover {
  color: blue;
  /* border: 1px dotted lightblue; */
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.tile-img {
  width: 90%;
  aspect-ratio: 1;
}

.popup-img {
  display: block;
  width: 90%;
  aspect-ratio: 1;
  margin-right: auto;
  margin-left: auto;
}

.popup > div {
  padding: 20px;
}

.view-cart {
  float: right;
}
